.Details {
    min-height: 170px;

    ul {
        padding: 0;

        li {
            display: flex;
            padding: 5px 5px 5px 0;
            justify-content: space-between;

            &:nth-child(odd) {
                background: linear-gradient(to top, #efefef 0%, #ffffff 100%);
            }
        }
    }
}
