.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    background-color: rgba(0, 0, 0, 0.5);

    .wrapper {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1050;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
        display: flex;
        align-items: center;
    }

    .modal {
        z-index: 100;
        background: #fff;
        position: relative;
        margin: auto;
        border-radius: 5px;
        max-width: 700px;
        width: 90%;
        padding: 15px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        h4,
        button {
            margin: auto 0 20px;
        }

        button {
            font-size: 25px;
            font-weight: bold;
            cursor: pointer;
            border: none;
            background: transparent;
        }
    }
}
